interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.bna.com.ar/
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.bna.com.ar/
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.bna.com.ar/
  response:
    body:
      string: ''
    headers:
      Location:
      - /Personas
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://www.bna.com.ar/Personas
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"es\" class=\"pc\">\r\n\r\n  <head>\r\n\r\n
        \   \r\n    <meta charset=\"utf-8\">\r\n    <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\r\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\r\n    <meta name=\"description\" content=\"Productos,
        servicios y promociones dise\xF1ados para atender las necesidades de personas
        y empresas de los distintos sectores productivos del pa\xEDs.\">\r\n    <meta
        name=\"keywords\" content=\"banco, banco naci\xF3n argentina, banca, banca
        nacional\">\r\n    <meta name=\"author\" content=\"Banco de la Naci\xF3n Argentina\">\r\n
        \ \r\n    <title>Banco de la Naci\xF3n Argentina</title>\r\n\r\n         \r\n\r\n
        \   \r\n    <link href=\"/Content/bootstrap.min.css\" rel=\"stylesheet\">\r\n
        \   <link href=\"/Content/bootstrap-theme.min.css\" rel=\"stylesheet\">\r\n\r\n
        \   \r\n\r\n        \r\n\r\n     \r\n\r\n    \r\n    \r\n    <link href=\"/Content/css/jquery.bxslider.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n    <link href=\"/Content/css/datepicker.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n\r\n\r\n    \r\n    <link href=\"/Content/css/style.css\"
        rel=\"stylesheet\">\r\n\r\n\r\n\r\n    \r\n\r\n    <script src=\"/bundles/jquery?v=KVwTEjS-NVeUtl4hOvP7lNlsGD7rWshJQoQzaFpIgLQ1\"></script>\r\n\r\n\r\n
        \   \r\n    <script src=\"/Scripts/bootstrap.min.js\"></script>\r\n    \r\n
        \   \r\n    \r\n\r\n    \r\n    \r\n    \r\n\r\n    <script>\r\n       \r\n\r\n
        \           $(document).on('submit', 'form', function () {\r\n               \r\n
        \               $(\"body\").css('position', 'relative');\r\n                $(\"body\").append(\"<div
        class='cargando'><img src='/Images/cargando02.gif' /></div>\");\r\n                if
        ($(this).attr('id') == 'requestFormReclamosUnique') {\r\n                    \r\n
        \                   $('#btn_request_submit').remove();\r\n                }
        else {\r\n                    setTimeout(clear, 5000);\r\n                }\r\n\r\n
        \               \r\n                \r\n\r\n            });\r\n\r\n            function
        clear()\r\n            {\r\n                $(\"body\").removeAttr[...]
