certifi==2018.1.18
chardet==3.0.4
future==0.16.0
idna==2.6
Pygments==2.2.0
python-telegram-bot==10.1.0
requests==2.18.4
urllib3==1.22
wmctrl==0.3
peewee==3.1.2
beautifulsoup4==4.6.0
textblob==0.15.1
tweepy==3.6.0
emoji==0.5.0
docopt==0.6.2
structlog==18.1.0
pyyaml==3.12
colorama==0.3.9
