interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bluelytics.com.ar/v2/latest
  response:
    body:
      string: '{"oficial":{"value_avg":180.50,"value_sell":185.00,"value_buy":176.00},"blue":{"value_avg":344.00,"value_sell":346.00,"value_buy":342.00},"oficial_euro":{"value_avg":194.00,"value_sell":199.00,"value_buy":189.00},"blue_euro":{"value_avg":370.00,"value_sell":372.00,"value_buy":368.00},"last_update":"2022-12-30T18:30:39.764011-03:00"}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
