interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://openexchangerates.org/api/latest.json
  response:
    body:
      string: "{\n  \"error\": true,\n  \"status\": 403,\n  \"message\": \"missing_app_id\",\n
        \ \"description\": \"No App ID provided. Please sign up at https://openexchangerates.org/signup,
        or contact support@openexchangerates.org.\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 403
      message: Forbidden
version: 1
